# Android
*.iml
.gradle/
local.properties
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
build/
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log